.container {
    width: 100%;
    display: flex;
    height: 100vh;
}

.textBalance {
    font-size: smaller;
}

.Sidebar {
    position: fixed;
    height: 100vh;
    background-color: #373b53;
    padding: 10px;
    display: flex;
    /* align-items: flex-end; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.MainContainer {
    width: 100%;
    display: flex;
    justify-content: center;

}

.main {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.text {
    width: 50%;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;

}

.Icon {
    border-radius: 30px;
    /* padding: 20px 55px; */
    text-decoration: none;
    border: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 130px;
    background: #7c5efa;
    color: #fff
}

.Icon:hover {
    background: #927fe1;
}

.Icon:active {
    background-color: #5e46c3;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.tododata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: #fff;
    padding: 15px;

}

.todolist_container {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    margin: 15px;
    /* overflow: hidden; */
    background-color: #1e213b;
    box-shadow: -2px 4px 20px 0px rgba(0, 0, 0, 0.261);
}

.tododatas {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 15px;
}

.status {
    border: none;
    border-radius: 10px;
    background-color: rgba(28, 208, 85, 0.367);
    padding: 10px 10px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status_dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-color: transparent;
    border: none;
    color: rgb(93, 202, 93);
}

.dropdown_color {
    color: rgb(93, 202, 93);
    display: flex;
}

.heading {
    height: 100%;
    align-items: center;
    display: flex;
    font-size: 15px;
}

.contant {
    display: flex;
    font-size: '70%';
    border-radius: 10;
    padding: 20;
    font-weight: 500;

}

.dark {
    background-color: #333;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #333;
}
.btn{
    display: flex;
    justify-content: flex-end;
}
.edit{
    padding: 15px 25px;
    margin-bottom: 20px;
    border-radius: 15px;
    color: #373b53;
    background-color: #fff;
}
.edit:hover{
    background-color: rgb(225, 223, 223);
}
.edit:active{
    background-color: rgb(184, 184, 184);

}
.delete{
    padding: 15px 25px;
    margin-bottom: 20px;
    border-radius: 15px;
    color: #fff;
    background-color: red;
    margin-left: 10px;
}
.delete:hover{
    background-color: rgb(219, 8, 8);
}
.delete:active{
 background-color: rgb(158, 4, 4);

}
.mode{
    width: 60px;
}